/* Landing Page Styling */

body{
  background: rgb(255,182,119);
  background: linear-gradient(180deg, rgba(255,182,119,1) 0%, rgba(255,231,154,1) 50%, rgba(255,182,119,1) 100%);
}

#landing-book-collection{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#searchResult {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.book {
  width: 33%;
}

.navLink{  
  
}

.p-2{
  font-size: 5rem;
}

.react-pdf__Page__textContent{
  /* display: none; */
}

.sherlock {
  height: 40px;
}
.landing-book{
  margin-right: 90px;
  height: 40rem;
  width: 30rem;
}

/* #dracula {
  height: 400px;
  width: 400px;
} */

@media(max-width: 800px) {
  #landing-book-collection{ 
    width: 60%;
  }
}
