/* Landing Page Styling */

#landing-book-collection{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#searchResult {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.book {
  width: 33%;
}

.sherlock {
  height: 40px;
}
.landing-book{
  margin-right: 90px;
}

#dracula {
  height: 400px;
  width: 400px;
}

@media(max-width: 800px) {
  #landing-book-collection{ 
    width: 60%;
  }
}
