/* Landing Page Styling */

body{
  background: rgb(255, 218, 179);
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 65px 0;
}

.landing h1 {
  font-size: 7rem;
}

.landing p {
  font-size: 1.7rem;
}

.landing p + p {
  font-size: 1.6rem;
  margin-top: 10px;
  margin-bottom: -15px;
}

#landing-book-collection{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navContainer {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 12px;
}

.navLink {  
  margin: 0 10px;
}

.searchContainer {
  display: flex;
  align-items: center;
}

.p-2 {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-decoration: none;
  color: black;
}

/* .sherlock {
  height: 40px;
} */

.landing-book{
  height: 36rem;
  width: 25rem;
}

/* #dracula {
  height: 400px;
  width: 400px;
} */


/* Search Results Page */

.searchResultHeader{ 
  margin: 1% 0 2% 1%;
}

#searchResult {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

#searchResult .book {
  width: 30%;
  margin: 1%;
}

.book img {
  margin-bottom: 1.5%;
}

.book h2{
  font-size: 1.5rem;
  text-decoration: underline;
}

.react-pdf__Page__textContent{
  /* display: none; */
}

.react-pdf__Page {
  display: flex;
  justify-content: center;
}

/* @media(max-width: 800px) {
  #landing-book-collection{ 
    width: 60%;
  }
} */



/* Reading Item Styling */

#readBook {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#pagination * {
  margin: 0 5px;
}

#pagination > button {
  margin: 0 5px; 
}